<!DOCTYPE html>
<html>
<head>
    <title>Toburn</title>
</head>
<body>
    <h1>Toburn</h1>
    <p>My little burndown graph</p>

    <%= @stats %>

    <script type="text/javascript" src="javascripts/Chart.min.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
</body>
</html>
